footer {
  background-color: black; /* Footer background color */
  color: #fff; /* Text color */
  padding: 40px 20px; /* Padding for the footer */
  font-family: Arial, sans-serif; /* Font family */
  position: relative; /* Position footer container */
}

/* Social Icons Container */
.social-icons {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center; /* Align icons vertically */
  justify-content: center; /* Center align icons horizontally */
}

/* Social Icon Link */
.social-icons a {
  display: inline-block;
  margin-right: 12px;
  color: #daebea;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.25s ease;
}

/* Social Icon Link Hover */
.social-icons a:hover {
  color: #cfd445;
}

h3 {
  margin-bottom: 20px; /* Bottom margin for headings */
  font-size: 17px; /* Font size for headings */
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

li {
  margin-bottom: 10px; /* Bottom margin for list items */
  font-size: 13px;
}

a {
  color: #fff; /* Link text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition for color change */
}

.link:hover {
  color: #cfd445!important;
}

.footer-section {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space evenly between sections */
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* Limit maximum width */
}

.footer-section > div {
  width: 30%; /* Set width for each section */
}

/* Copyright section */
.copyright {
  text-align: center;
  width: 100%; /* Full width for copyright section */
  font-size: 11px; /* Smaller font size */
  position: relative; /* Position at the bottom */
  bottom: 20px; /* Distance from the bottom */
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 768px) {
  .footer-section > div {
    width: 100%; /* Full width on small screens */
    margin-bottom: 30px; /* Bottom margin for spacing */
  }

  .social-icons {
    margin-left: auto;
    margin-right: auto;
  }
}

 
