body,html{
  margin: 0;
  /* overflow-x: auto; */
  /* padding-right: 0 !important; */
  /* width: 95%; */
}
.navbar {
  /* background-color: #333; Navbar background color */
  background-color:#192c25 ;
  color: #000000; /* Text color */
  padding: 10px 20px; /* Padding for the navbar */
  /* //background: transparent; */
  /* opacity: 0.7; */
  display: flex; /* Make the navbar flex container */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  padding: 30px;
  width: 97%;
  position: fixed;
  z-index: 3;
  /* width:100vw; */
  /* width: 100%; */
  
}

.navbar-brand {
  font-size: 1.5rem; /* Font size for the company name */
  color: #5c977c; /* Company name color */
  color: #5c977c; /* Updated company text color */
}

.navbar-item {
  margin-right: 10px; /* Margin between navbar items */
  
}

.button {
  background-color: #db0000; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 8px 16px; /* Padding for the button */
  font-size: 0.9rem; /* Button font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 10%;
}

.button:hover {
  background-color: #840303; /* Button background color on hover */
}
