body,html{
  margin: 0;
  /* overflow-x: auto; */
  /* padding-right: 0 !important; */
  /* width: 95%; */
}
.navbar {
  /* background-color: #333; Navbar background color */
  background-color:#192c25 ;
  color: #000000; /* Text color */
  padding: 10px 20px; /* Padding for the navbar */
  /* //background: transparent; */
  /* opacity: 0.7; */
  display: flex; /* Make the navbar flex container */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  /* padding: 10px; */
  width: 97%;
  position: fixed;
  z-index: 3;
  /* width:100vw; */
  /* width: 100%; */
  
}

.tab__bJxhD {
    background-color: transparent;
    border: none;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 600;
    border-radius: 40px;
    color: #e8ecf1;
    
    font-family: Inter,sans-serif;
    font-size: 20px;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    transition: .8s;
    white-space: nowrap
}

.tab__bJxhD:hover {
    background: #459a7a;
    transition: 0.5s;
    color: #120101;
    
}


.navbar-brand {
  
  font-family: Inter,sans-serif;
  font-size: 1.5rem; /* Font size for the company name */
  font-size: 20px;
  color: #5c977c; /* Company name color */
  color: #5c977c; /* Updated company text color */
}

.navbar-item {
  margin-right: 10px; /* Margin between navbar items */
  
}

.button {
  background-color: #eef5f2; /* Button background color */
  color: #160457; /* Button text color */
  border: 2px; /* Remove button border */
  padding: 10px 35px; /* Padding for the button */
  font-size: 16px; /* Button font size */
  cursor: pointer;        /* Change cursor to pointer on hover */
  border-radius: 15px;
  font-weight: bold;
  
  transition: background-color 0.3s, color 0.3s;
 
  
}

.button:hover {
  background-color: #459a7a; 
  color:white/* Button background color on hover */
}