.main-container{
    background-color: rgb(224, 238, 238);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    z-index: -1;
    /* box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); */
}

.left-container{
/* background-color: blue; */
width: 37.7%;
height: 500px;
border-radius: 0 5px 0 5px;
position: relative;
text-align: center;
color: white;

/* box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);  */
}
.img-text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.img-text p{
    font-size: 50px;
    font-weight: bold;
}
.image-container{
    width: 100%;
height: 100%;
}


.right-container{
    
background-color:white;
width: 40%;
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin-top: 90px; */
margin-right: 0;
/* margin-right: 100px; */
border-radius: 0 5px 5px 0;
/* box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);  */
}
.heading{
    position: top;
}
.input{
    padding: 10px;
    background-color: inherit;
}

input{
    border: none;
    border-bottom: 1px solid rgb(124, 121, 121);
}
.name-container{
    display: flex;
}
.email input{
    display: block;
    width: 353px;
}
.password input{
    display: block;
    width: 353px;
}


.city-container{
    display: flex;
}

.city-container #state{
    margin-left: 20px;
}

.addressText{
    border: none;
    border-bottom: 1px solid rgb(124, 121, 121);
}

input:focus {
    border: none;
    outline: none;
    /* border-bottom: 2px solid green; */
    box-shadow: 0 0 5px rgba(7, 118, 31, 0.5);
  }
  textarea:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(7, 118, 31, 0.5);
  }
  
.button-container{
    padding: 10px;
}
.submit{
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(8, 209, 8);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}
.error-class{
    color: red;
    font-size: xx-small;
    font-weight: bold;
}

.submit:hover{
    background-color: rgb(87, 236, 87);
}

